nav ul{
    list-style:none;
    margin: 0;
    position:relative;
}
nav ol a{
    text-decoration:none;
}

nav ul li{
    font-size: 20px;
    text-align: left;
    background-color:lightsalmon;
    color:beige;
    margin: 1px;
    align-items: center;
    padding-left: 5px;
    float: left;
    position: relative;
    width:130px;
    height:30px;
    box-shadow: 2px 2px 3px grey;
}

.div1 {
    height: 700px;
    width: 100%;
    background-image: url(Images/img8.jpeg);
    display: flex;
    align-items: center;
    justify-content: center;


}

.div2 {
    background-image: url(Images/img2.jpeg);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 700px;
    width: 100%;
}

.div3 {
    background-image: url(Images/img3.jpeg);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 700px;
    width: 100%;
}

.div4 {
    background-image: url(Images/img4.jpeg);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 700px;
    width: 100%;
}

.div5 {
    background-image: url(Images/img5.jpg);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 700px;
    width: 100%;
}

.div6 {
    background-image: url(Images/img6.jpeg);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 700px;
    width: 100%;
}

.div7 {
    background-image: url(Images/img7.jpg);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 700px;
    width: 100%;
}

.div1>div {
    background-color: ivory;
    height: 600px;
    width: 800px;
    box-shadow: 10px 20px 5px black;

}

.div2>div {
    background-color: ivory;
    height: 600px;
    width: 800px;
    box-shadow: 10px 20px 5px black;
}

.div3>div {
    background-color: ivory;
    height: 600px;
    width: 800px;
    box-shadow: 10px 20px 5px black;
}

.div4>div {
    background-color: ivory;
    height: 600px;
    width: 800px;
    box-shadow: 10px 20px 5px black;
}

.div5>div {
    background-color: ivory;
    height: 600px;
    width: 800px;
    box-shadow: 10px 20px 5px black;
}

.div6>div {
    background-color: ivory;
    height: 600px;
    width: 800px;
    box-shadow: 10px 20px 5px black;
}

.div7>div {
    background-color: ivory;
    height: 600px;
    width: 800px;
    box-shadow: 10px 20px 5px black;
}

.div1>div>img {
    height: 80px;
    width: 100px;
    border-radius: 60%;
    margin-top:-35px;
    margin-left:340px;
    align-items: center;
    justify-content: center;
    
}

.div2>div>img {
    height: 80px;
    width: 100px;
    border-radius: 60%;
    margin-top:-35px;
    margin-left:340px;
    align-items: center;
    justify-content: center;
    
}

.div3>div>img {
    height: 80px;
    width: 100px;
    border-radius: 60%;
    margin-top:-35px;
    margin-left:340px;
    align-items: center;
    justify-content: center;
    
}

.div4>div>img {
    height: 80px;
    width: 100px;
    border-radius: 60%;
    margin-top:-35px;
    margin-left:340px;
    align-items: center;
    justify-content: center;
    
}

.div5>div>img {
    height: 80px;
    width: 100px;
    border-radius: 60%;
    margin-top:-35px;
    margin-left:340px;
    align-items: center;
    justify-content: center;
    
}

.div6>div>img {
    height: 80px;
    width: 100px;
    border-radius: 60%;
    margin-top:-35px;
    margin-left:340px;
    align-items: center;
    justify-content: center;
    
}

.div7>div>img {
    height: 80px;
    width: 100px;
    border-radius: 60%;
    margin-top:-35px;
    margin-left:340px;
    align-items: center;
    justify-content: center;
    
}

.div1>div>pre{
    color:black;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:20px;
    
}
.div>div>h1{
    margin-right: 20px;
}
.div2>div>p{
    
    color:black;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:15px;
    text-align:justify;
    width:45%;
    height:80%;
    margin-right:20px;
    margin-left:20px;
    float:left;
    box-sizing:border-box;
}

.div3>div>p{
   
    color:black;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:15px;
    text-align:justify;
    width:45%;
    height:80%;
    margin-right:20px;
    margin-left:20px;
    float:left;
    box-sizing:border-box;
}

.div4>div>p{
    
    color:black;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:15px;
    text-align:justify;
    width:45%;
    height:80%;
    margin-right:20px;
    margin-left:20px;
    float:left;
    box-sizing:border-box;
}

.div5>div>p{
   
    color:black;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:15px;
    text-align:justify;
    width:45%;
    height:80%;
    margin-right:20px;
    margin-left:20px;
    float:left;
    box-sizing:border-box;
}

.div7>div>p{
   
    color:black;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:15px;
    text-align:justify;
    width:45%;
    height:80%;
    margin-right:20px;
    margin-left:20px;
    float:left;
    box-sizing:border-box;
}

